################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MyAPP/copilot-chat/fcbc73b5/sessions
/.vs/MyAPP/CopilotIndices/17.13.444.19527
/.vs/MyAPP/FileContentIndex
/.vs/MyAPP/v16/ipch/AutoPCH/197e5c1f645a2617
/.vs/MyAPP/v16/ipch/AutoPCH/2846bf4cc87b1d49
/.vs/MyAPP/v16/ipch/AutoPCH/4ef95cb089b9ec00
/.vs/MyAPP/v16/ipch/AutoPCH/5453caf87a07f97b
/.vs/MyAPP/v16/ipch/AutoPCH/84cf098bb1124920
/.vs/MyAPP/v16/ipch/AutoPCH/ada7ce2144b817f7
/.vs/MyAPP/v16/.suo
/.vs/MyAPP/v16/Browse.VC.db
/.vs/MyAPP/v16/Browse.VC.db
/.vs/MyAPP/v16/.suo
/.vs/MyAPP/v16/ipch/AutoPCH/baa10cbfd2c9ee0b/MYAPP.ipch
*.ipch
/.vs/MyAPP/v17
/MyAPP/x64/Debug/MyAPP.tlog/CL.command.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/CL.read.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/CL.write.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/link.command.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/link.read.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/link.write.1.tlog
/MyAPP/x64/Debug/MyAPP.tlog/moc.read.1u.tlog
/MyAPP/x64/Debug/MyAPP.tlog/moc.write.1u.tlog
/MyAPP/x64/Debug/MyAPP.tlog/MyAPP.lastbuildstate
/MyAPP/x64/Debug/MyAPP.tlog/MyAPP.write.1u.tlog
/MyAPP/x64/Debug/MyAPP.tlog/uic.read.1u.tlog
/MyAPP/x64/Debug/MyAPP.tlog/uic.write.1u.tlog
/MyAPP/x64/Debug/qt/moc
/MyAPP/x64/Debug/qt/qmake/.qmake.stash
/MyAPP/x64/Debug/qt/uic/ui_AlgorithmicRegion.h
/MyAPP/x64/Debug/qt/uic/ui_MyAPP.h
/MyAPP/x64/Debug/qt/qt_work.log
/MyAPP/x64/Debug/AlgorithmicRegion.obj
/MyAPP/x64/Debug/AlgTreeItem.obj
/MyAPP/x64/Debug/AlgTreeWidget.obj
/MyAPP/x64/Debug/main.obj
/MyAPP/x64/Debug/moc_AlgorithmicRegion.obj
/MyAPP/x64/Debug/moc_AlgTreeWidget.obj
/MyAPP/x64/Debug/moc_MyAPP.obj
/MyAPP/x64/Debug/MyAPP.Build.CppClean.log
/MyAPP/x64/Debug/MyAPP.ilk
/MyAPP/x64/Debug/MyAPP.log
/MyAPP/x64/Debug/MyAPP.obj
/MyAPP/x64/Debug/MyAPP.vcxproj.FileListAbsolute.txt
/MyAPP/x64/Debug/qrc_MyAPP.obj
/MyAPP/x64/Debug/vc142.idb
/MyAPP/x64/Debug/vc142.pdb
/x64/Debug/MyAPP.exe
/MyAPP/MyAPP.vcxproj
/MyAPP/MyAPP.vcxproj.filters
